<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <% include ../partials/header.ejs %>
    
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <% include ../partials/topNavigation.ejs %>
        <main class="mdl-layout__content">
            <div class="page-content">
                <div ng-controller="myCtrl">
                    <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate progress-demo" ng-hide="!showLoader"></div>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Manage User</a></li>
                        <li class="active">View Users</li>
                    </ol>
                    <div class="container mb40">
                        <table class="table">
                            <tbody>
                                <!-- On rows -->
                                <tr class="info">
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th class="cross">Delete</th>
                                    <th class="update">Update</th>
                                </tr>
                                <tr ng-repeat="user in members">
                                    <td>{{user.name}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.mobile}}</td>
                                    <td class="cross" ng-click="deleteMember(user._id)">x</td>
                                    <td class="update" ng-click="deleteMember(user._id)">I</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
        <% include ../partials/footer.ejs %>
    
</body>

</html>
